  /*
   IF exists (select name from sys.databases where name ='TwentyWork')
    drop database TwentyWork
GO
*/
USE [master]
GO
USE [master]
GO
DROP DATABASE [TwentyWork]
GO
 
 
    IF not exists (select name from sys.databases where name = 'TwentyWork')
    create database TwentyWork
GO
  
  use TwentyWork
GO

  
--1--INSERT INTO Users (userName, email, password, birth, userImage, cellPhone, phone)
create table Users
(   userID varchar(32) NOT NULL PRIMARY KEY  default replace(NEWID(),'-',''),
    userName varchar(10) NOT NULL,
    email varchar(50) NOT NULL,
    password varbinary(35) NOT NULL,
    birth date,
    userImage image,
    cellPhone varchar(15),
    phone varchar(15),
) 
go
--2--
create table Team
(
    teamID varchar(32) NOT NULL PRIMARY KEY  default replace(NEWID(),'-',''),
    teamName varchar(20) not null,
    teamImage image,
    teamAbout varchar(max)
)
--3--
create table TeamUser
(
    userID varchar(32) references Users (userID),
    teamID varchar(32) references Team  (teamID),
	/*
    post varchar(10),
    department varchar(10),
    extension varchar(15),
    activeDate date ,
    rights int 
	*/
    constraint teamUserID primary key (userID,teamID),

)
go
--4--
create table Groups 
(
    groupID varchar(50) not null primary key,
    groupName varchar(40) not null,
)
GO
--5--
create table Images
(
    imageID varchar(50) not null primary key,
    msgimage image,
)
GO
--6--
create table Msg
(
    msgID varchar(50) not null primary key,
    imageID varchar(50) references Images(imageID),
    groupID varchar(50) references Groups(groupID),
    msgTime datetime not null,
    msgText varchar(max),
    msgFile varbinary(max),
    msgFileName varchar(50),
    msgFileType varchar(10),
    msgFIleSize int,
    userID varchar(32) references Users (userID),
)
GO
--7--
create table GroupUser
(
    groupID varchar(50) references Groups (groupID),
    userID varchar(32) references Users (userID),
    constraint groupUser_ID primary key(groupID,userID)
)
GO
--8--
create table TeamSchedule
(
    eventID varchar(32) NOT NULL PRIMARY KEY  default replace(NEWID(),'-',''),
    eventName varchar(50) not null,
    eventStartDate datetime not null,
    eventEndDate datetime not null,
    eventDesp varchar(max),
    location varchar(50),
    reminder datetime default null,
	eventAllday varchar(5) default null,
	eventColor varchar(20) default 'red',
    teamScheduleUserID varchar(32) ,
    teamID varchar(32) references Team  (teamID),
)
--9--
create table MySchedule
(
    myEventID varchar(32) NOT NULL PRIMARY KEY  default replace(NEWID(),'-',''),
    myEvent varchar(50) not null,
    myEventStartDate datetime not null,
    myEventEndDate datetime not null,
	myEventDesp varchar(max) default null,
    myLocation varchar(50) default null,
    myRminder datetime default null,
	myEventAllday varchar(5) default null,
	myEventColor varchar(20) default NULL,
    myUserID varchar(32),
)
--10--
create table Participant
(
    MyEventID varchar(32) references MySchedule(MyEventID),
    userID varchar(32) references Users (userID),
    constraint ParticipantID primary key (MyEventID,userID),
)
GO
--11--
create table BoardClass
(
    boardClassID varchar(50) not null primary key ,
    boardClassText varchar(50),
)
GO
--12--
create table Board
(
    boardID varchar(50) primary key not null,
    boardTitle varchar(50) not null,
    boardText varchar(max),
    boardTime datetime not null,
    userID varchar(32) references Users (userID),
    teamID varchar(32) references Team  (teamID),
    boardClassID varchar(50) references BoardClass(boardClassID),
)
GO
--13--
create table Sub
(
    subID varchar(50) not null primary key,
    subText varchar(max),
    userID varchar(32) references Users (userID),
    boardID varchar(50) references Board(boardID),
)
GO
--14--
create table MyFav
(
    userID varchar(32) references Users (userID),
    boardID varchar(50) references Board(boardID),
    constraint MyFavID primary key(userID,boardID),
)
GO
--15--
   
CREATE TABLE ShareFile(
    fileId          int     IDENTITY(900,1)         PRIMARY KEY,--
    fileName_       varchar(50) not null,
    fileType        varchar(10) not null,
    fileSize        int,
    updateTime      datetime ,
    userId          varchar(32),                
    teamId          varchar(32),            
    upperFolderId   int,                
    CONSTRAINT FK_ShareFile_upperFolderId   foreign key (upperFolderId) references ShareFile (fileId) ,
    CONSTRAINT FK_ShareFile_userId          foreign key (userId)        references Users(userID) ,
    CONSTRAINT FK_ShareFile_teamId          foreign key (teamId)        references Team(teamID),
)
go
INSERT INTO ShareFile VALUES ( 'WebApp根目錄' , '資料夾' ,null ,null,null,null, null);--900
create procedure gen_folder_tree ( @v_teamId  varchar(32) )
  AS
  BEGIN
	 WITH findFile (fileId, fileName_,fileType,fileSize,updateTime,userId, teamId,upperFolderId , fileLevel)AS 
	(
		SELECT fileId, fileName_,fileType,fileSize,updateTime,userId, teamId,upperFolderId , 0 as level
		FROM   ShareFile
		WHERE  fileSize IS NULL
		AND upperFolderId=900 --IS NULL
		AND teamId =@v_teamId

		UNION ALL

		SELECT shr.fileId , shr.fileName_ , shr.fileType , shr.fileSize , shr.updateTime , shr.userId,shr.teamId, shr.upperFolderId, tree.fileLevel + 1
		FROM ShareFile shr INNER JOIN findFile tree
		ON shr.upperFolderId  = tree.fileId 
		WHERE  shr.fileSize IS NULL 
	)
	SELECT * FROM findFile 
	order by fileLevel 
  END;
  GO


  create procedure find_delete_files ( @v_fileId  varchar(32))
  AS
  BEGIN
 WITH findFile (fileId, fileLevel)AS
    (
        SELECT fileId , 1 as level
        FROM   ShareFile
        WHERE  fileId= @v_fileId
   
        UNION ALL
   
        SELECT shr.fileId , tree.fileLevel + 1 
        FROM ShareFile shr INNER JOIN findFile tree
        ON shr.upperFolderId  = tree.fileId 
           
    )
    DELETE ShareFile 
    WHERE fileId IN(
    SELECT fileId FROM findFile
    )
 END;
 GO

 /*
  declare @teamId1 varchar(32) 
  set @teamId1=NEWID()
  INSERT INTO Team VALUES(@teamId1,'TinaTeam',null,null)
  declare @teamId2 varchar(32) 
  set @teamId2=NEWID()
  INSERT INTO Team VALUES(@teamId2,'QubeTeam',null,null)
  
  declare @userId1 varchar(32) 
  set @userId1=NEWID()
  INSERT INTO Users VALUES(@userId1,'Tina','tina@gmail.com.tw',CAST('A' AS VARBINARY(MAX)),null,null,null,null)
  declare @userId2 varchar(32) 
  set @userId2=NEWID()
  INSERT INTO Users VALUES(@userId2,'John','john@gmail.com.tw',CAST('A' AS VARBINARY(MAX)),null,null,null,null)
  declare @userId3 varchar(32) 
  set @userId3=NEWID()
  INSERT INTO Users VALUES(@userId3,'Andro','andro@gmail.com.tw',CAST('A' AS VARBINARY(MAX)),null,null,null,null)
  declare @userId4 varchar(32) 
  set @userId4=NEWID()
  INSERT INTO Users VALUES(@userId4,'Qube','qube@gmail.com.tw',CAST('A' AS VARBINARY(MAX)),null,null,null,null)
  declare @userId5 varchar(32) 
  set @userId5=NEWID()
  INSERT INTO Users VALUES(@userId5,'Puffy','puffy@gmail.com.tw',CAST('A' AS VARBINARY(MAX)),null,null,null,null)
 
  INSERT INTO TeamUser values(@userId1,@teamId1)
  INSERT INTO TeamUser values(@userId2,@teamId1)
  INSERT INTO TeamUser values(@userId3,@teamId1)
  INSERT INTO TeamUser values(@userId1,@teamId2)
  INSERT INTO TeamUser values(@userId4,@teamId2)
  INSERT INTO TeamUser values(@userId5,@teamId2)
  
 -- fileName_ not null, fileType  not null,   fileSize ,   updateTime , userId , teamId ,   upperFolderId   int,     
 INSERT INTO ShareFile VALUES ( 'WebApp根目錄' , '資料夾' ,null ,null,null,null, null);--900
 INSERT INTO ShareFile VALUES ( 'Group1根目錄' , '資料夾' ,null ,null,null,@teamId1, '900');--901
 INSERT INTO ShareFile VALUES ( 'Group2根目錄' , '資料夾' ,null ,null ,null,@teamId2, '900');--902
 INSERT INTO ShareFile VALUES ( 'Group2-1' , '資料夾' ,null ,null ,null,@teamId2, '902');
 INSERT INTO ShareFile VALUES ( 'Group1-1' , '資料夾' ,null ,null ,null,@teamId1, '901');
 INSERT INTO ShareFile VALUES ( 'Group1-2' , '資料夾' ,null ,null,null,@teamId1, '901');
 INSERT INTO ShareFile VALUES ( 'Group1-3' , '資料夾' ,null ,null ,null,@teamId1, '901');
 INSERT INTO ShareFile VALUES ( 'Group2-1-1' , '資料夾' ,null ,null ,null,@teamId2, '903');
 INSERT INTO ShareFile VALUES ( 'Group2-1-2' , '資料夾' ,null ,null ,null,@teamId2, '903');
 INSERT INTO ShareFile VALUES ( 'Group1-1-1' , '資料夾' ,null ,null,null,@teamId1, '904');--10
 INSERT INTO ShareFile VALUES ( 'catcat.jpg' , 'jpg' ,115181 ,'2015-12-18 19:31:07.680' ,@userId1,@teamId1, '901');
 INSERT INTO ShareFile VALUES ( 'catcat.jpg' , 'jpg' ,115181 ,'2015-12-18 19:31:07.680' ,@userId2,@teamId1, '901');
 INSERT INTO ShareFile VALUES ( 'catcat.jpg' , 'jpg' ,115181 ,'2015-12-18 19:31:07.680' ,@userId3,@teamId1, '901');
 INSERT INTO ShareFile VALUES ( 'catcat.jpg' , 'jpg' ,115181 ,'2015-12-18 19:31:07.680' ,@userId1,@teamId1, '905')
 INSERT INTO ShareFile VALUES ( 'catcat.jpg' , 'jpg' ,115181 ,'2015-12-18 19:31:07.680' ,@userId2,@teamId1, '905')
 INSERT INTO ShareFile VALUES ( 'catcat.jpg' , 'jpg' ,115181 ,'2015-12-18 19:31:07.680' ,@userId1,@teamId1, '906')
 INSERT INTO ShareFile VALUES ( 'catcat.jpg' , 'jpg' ,115181 ,'2015-12-18 19:31:07.680' ,@userId2,@teamId1, '906')--17
go


  

--create Users data--
insert into Users values ('100', 'Kirin', 'x6041500@hotmail.com',0x41,'1990-05-13',null,'0933-456-781','03-4567891');
insert into Users values ( '101','Rita', 'Rita@hotmail.com',0x41,'1989-06-14',null,'0928-456-782','02-24847892');
insert into Users values ( '102','Wu', 'Wu@hotmail.com',0x41,'1991-07-25',null,'0988-456-783','03-3304693');
go
  
--create Team data--
insert into Team values ('200', 'KukuCoding','this is test' ,null);
insert into Team values ('201', 'TwentyWorkOfficial','gogogo' ,null);
insert into Team values ('202', 'Group3','debug' ,null);
go
  
--create TeamUser data--
insert into TeamUser values ( '100' , '200' , null , null , null , '2015-12-25' , 1 );
insert into TeamUser values ( '101' , '200' , null , null , null , '2015-12-25' , 1 );
insert into TeamUser values ( '102' , '200' , null , null , null , '2015-12-25' , 2 );
 
 
go


--create TeamSchedule  data--

insert into TeamSchedule  values ( 'TeamEvent101', '2016-01-14 01:01:01.000', '2016-01-14 02:02:02.111', null , null , null , '100' , '200' );
insert into TeamSchedule  values ( 'TeamEvent202', '2016-01-15 02:02:02.111', '2016-01-15 03:03:03.222', null , null , null , '101' , '200' );
insert into TeamSchedule  values ( 'TeamEvent103', '2016-01-16 03:03:03.000', '2016-01-16 04:04:04.111', null , null , null , '100' , '202' );
go


--create MySchedule data--
insert into MySchedule values ( 'MyEvent101', '2016-01-04 01:01:01.000', '2016-01-04 02:02:02.111', null , null , null , '100');
insert into MySchedule values ( 'MyEvent202', '2016-01-05 02:02:02.111', '2016-01-05 03:03:03.222', null , null , null , '101');
insert into MySchedule values ( 'MyEvent103', '2016-01-06 03:03:03.000', '2016-01-06 04:04:04.111', null , null , null , '100');
go


--create Participant data--
insert into Participant values ( '700', '100' );
insert into Participant values ( '700', '101' );
insert into Participant values ( '700', '102' );





go

 
   
  
 create procedure find_file_by_fileName ( @v_fileId  int,@v_queryString nvarchar(50))
  AS
  BEGIN
 WITH findFile (fileId, fileName_,fileType,fileSize,updateTime,userId, teamId,upperFolderId , fileLevel)AS
    (
        SELECT fileId, fileName_,fileType,fileSize,updateTime,userId, teamId,upperFolderId , 1 as level
        FROM   ShareFile
        WHERE  fileId=@v_fileId
  
        UNION ALL
  
        SELECT shr.fileId , shr.fileName_ , shr.fileType , shr.fileSize , shr.updateTime , shr.userId,shr.teamId, shr.upperFolderId, tree.fileLevel + 1
        FROM ShareFile shr INNER JOIN findFile tree
        ON shr.upperFolderId  = tree.fileId 
          
    )
    SELECT * FROM findFile
    WHERE  fileName_ LIKE '%'+@v_queryString+'%'
    and fileLevel>1
    order by fileLevel 
 END;
 GO
 -- exec find_file_by_fileName 2,'g'
  
  
   */